@import "compass/css3/transform"
@import "compass/css3/background-size"

body
  height: 100%
  overflow: hidden
  position: relative

h1
  display: none

.player
  height: 50%
  width: 100%
  position: absolute
  background:
    repeat: no-repeat
    position: center top
  @include background-size(cover)

  &.crab
    background-image: url(../img/bg-crab.jpg)
  &.crane
    background-image: url(../img/bg-crane.jpg)
  &.dragon
    background-image: url(../img/bg-dragon.jpg)
  &.lion
    background-image: url(../img/bg-lion.jpg)
  &.mantis
    background-image: url(../img/bg-mantis.jpg)
  &.phoenix
    background-image: url(../img/bg-phoenix.jpg)
  &.scorpion
    background-image: url(../img/bg-scorpion.jpg)
  &.spider
    background-image: url(../img/bg-spider.jpg)
  &.unicorn
    background-image: url(../img/bg-unicorn.jpg)
  &.shadowlands
    background-image: url(../img/bg-shadowlands.jpg)
  &.ronin
    background-image: url(../img/bg-ronin.jpg)
  &.imperial
    background-image: url(../img/bg-imperial.jpg)

  &.p1
    top: 0
    @include rotateZ(180deg)
  &.p2
    bottom: 0

  .honor
    position: absolute
    width: 50%
    height: 40px
    right: 0
    top: 50%
    margin-top: -20px
    text-align: center
    line-height: 40px
    font:
      size: 40px

    &.dishonored
      color: #f00
    &.honor-victory
      color: #00f

  .controls
    position: absolute
    bottom: 0
    background: #000
    height: 40px
    width: 100%
    color: #fff
    line-height: 40px
    font:
      size: 40px

    .more, .less
      width: 50%
      text-align: center
    .more
      float: left
    .less
      float: right

.global-controls
  display: block
  position: absolute
  height: 40px
  width: 100%
  top: 50%
  margin-top: -20px
  background: #000
  color: #fff
  text-align: center
  line-height: 40px
  z-index: 1
  font:
    size: 40px

  .reset, .clans
    width: 50%
    text-align: center
  .reset
    float: left
  .clans
    float: right
